/* ------------------------------------------------------------------------ */
/* VC Backend Styling
/* ------------------------------------------------------------------------ */

.icon-wpb-sd-blog { background-image: url(../icons/blog-icon.png); }
.icon-wpb-sd-tours { background-image: url(../icons/tours-icon.png); }
.icon-wpb-sd-reviews { background-image: url(../icons/testimonials-icon.png); }
.icon-wpb-sd-advanced-search { background-image: url(../icons/search-icon.png); }
.icon-wpb-sd-breadcrumbs { background-image: url(../icons/breadcrumbs-icon.png); }
.icon-wpb-sd-carousel { background-image: url(../icons/carousel-icon.png); }
